@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins";
  box-sizing: border-box;
  animation-delay: 2s;
}

.navresume {
  background-color: #ff004f;
  padding: 8px 22px;
  border-radius: 4px;
}

html {
  scroll-behavior: smooth;
}
:root {
  --red: #ff004f;
  --black: #080808;
  --white: #fff;
  --span: #fff;
  --gray: #262626;
  --icon: #262626;
  --work: #000;
  --workarea: #262626;
  --image: #fff;
}
.navresume:hover {
  color: #fff;
}
body {
  background: var(--black);
  color: var(--white);
  /* position: relative; */
}
#header {
  width: 100%;
  height: 100vh;
  background-size: cover;
  /* background: url(../image/homefinal.png); */
}
.container {
  padding: 20px 20px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  background-color: #319da0;
  padding: 10px 20px;
  /* border-radius: 0 0 10px 10px; */
  z-index: 100;
  position: fixed;
  overflow: hidden;
  right: 0;
  left: 0;
  top: 0;
  margin: auto;
}
#logo {
  color: var(--red);
  cursor: pointer;

  /* margin-left: 22px; */
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a {
  color: var(--white);
  text-decoration: none;
  font-size: 18px;
  position: relative;
}
nav ul li a:hover {
  color: var(--red);
}
nav ul li a::after {
  content: "";
  width: 0%;
  height: 3px;
  background: var(--red);
  position: absolute;
  left: 0px;
  bottom: -6px;
  transition: 0.5s;
}
nav ul li a:hover::after {
  width: 100%;
}
.navresume:hover::after {
  width: 0%;
}
/* ////////////////Header Image */
#header {
  display: grid;
  grid-template-columns: 60% 30%;
  justify-content: space-around;
  align-items: center;
}
#header img {
  height: 100%;
  /* border-radius: 50%; */
}
.img-wrapper {
  margin: auto;
  width: 300px;
  height: 300px;
  overflow: hidden;
  position: relative;
}
.img-wrapper::before {
  content: "";
  position: absolute;
  inset: -80px;
  background-image: conic-gradient(#ff004f 30deg, transparent 120deg);
  background-color: #319da0;
  animation: rotate 2.5s linear infinite;
}
.img-wrapper::after {
  content: "";
  position: absolute;
  inset: 6px;
  background-image: url(/image/Ranjeet400.png);
  background-color: var(--image);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
@keyframes rotate {
  to {
    transform: rotate(-360deg);
  }
}
#image {
  /* border: 1px solid red; */
  height: 400px;
  width: 400px;
  /* border-radius: 10%; */
  overflow: hidden;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

/* Image End ............................................... */

.header-text {
  margin-left: 22px;
  margin-top: 20%;
  font-size: 30px;
}
.header-text > h2 {
  color: var(--red);
  font-size: 60px;
  margin-top: 16px;
}
h1 {
  color: #ff004f;
}
/* // magic */
.toggle {
  --size: 1.5rem;

  appearance: none;
  outline: none;
  cursor: pointer;

  width: var(--size);
  height: var(--size);
  box-shadow: inset calc(var(--size) * 0.33) calc(var(--size) * -0.25) 0;
  border-radius: 999px;
  color: hsl(240, 100%, 95%);

  transition: all 2s;
}
.toggle:checked {
  --ray-size: calc(var(--size) * -0.4);
  --offset-orthogonal: calc(var(--size) * 0.65);
  --offset-diagonal: calc(var(--size) * 0.45);

  transform: scale(0.75);
  color: hsl(40, 100%, 50%);
  box-shadow: inset 0 0 0 var(--size),
    calc(var(--offset-orthogonal) * -1) 0 0 var(--ray-size),
    var(--offset-orthogonal) 0 0 var(--ray-size),
    0 calc(var(--offset-orthogonal) * -1) 0 var(--ray-size),
    0 var(--offset-orthogonal) 0 var(--ray-size),
    calc(var(--offset-diagonal) * -1) calc(var(--offset-diagonal) * -1) 0
      var(--ray-size),
    var(--offset-diagonal) var(--offset-diagonal) 0 var(--ray-size),
    calc(var(--offset-diagonal) * -1) var(--offset-diagonal) 0 var(--ray-size),
    var(--offset-diagonal) calc(var(--offset-diagonal) * -1) 0 var(--ray-size);
}
.toggle:checked {
}
#location {
  font-size: 13px;
  color: var(--span);
}

/* ////////////////////////About  */

#about {
  padding: 80px 0px;
  color: var(--red);
  width: 90%;
  margin: auto;
  margin-bottom: 50px;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: auto;
}
/* .about-col-1 {
  flex-basis: 35%;
}
.about-col-1 img {
  width: 100%;
  border-radius: 15px;
} */
.about-col-2 {
  width: 100%;
}
.sub-title {
  font-size: 60px;
  font-weight: 600;
  margin: auto;
  text-align: center;
  font-family: "Arima", cursive;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.tab-titels {
  display: flex;
  margin: 20px 0 40px;
}
.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.tab-links::after {
  content: "";
  width: 0%;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0px;
  bottom: -6px;
  transition: 0.5s;
}
.tab-links.active-link::after {
  width: 50%;
}
.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
  font-size: large;
}
.tab-contents ul li span {
  color: var(--span);
  font-size: 14px;
}
.tab-contents {
  display: none;
}
.tab-contents.active-tab {
  display: block;
}
#about p {
  color: var(--white);
}
#about-text {
  width: 100%;
  text-align: justify;
}

#contact {
  padding: 80px 0px;
}
/* ///////////////////////// */
#chat-boat {
  position: fixed;
  right: 30;
  bottom: 25;
  height: 50px;
  width: 50px;
  background-color: red;
  border-radius: 50%;
  transition: 0.5s;
  background: url(../image/whatsapp.png);
  background-repeat: no-repeat;
  background-size: auto;
  cursor: pointer;
  z-index: 55;
}
#chat-boat:hover {
  cursor: pointer;
  right: 30;
  bottom: 35;
  opacity: 0.8;
}
/* //////////Services// */

#services {
  padding: 80px 0px;
  width: 95%;
  margin: auto;
  /* margin-bottom: 30px; */
}
.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: space-between;
  grid-gap: 40px;
  margin-top: 50px;
}
.services-list div {
  background: var(--icon);
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;

  transition: background 0.5s, transform 0.5s;
}
.services-list div i {
  font-size: 50px;
  margin-bottom: 20px;
}
.services-list div:hover {
  background: var(--red);
  /* transform: scale(1.1); */
  transform: translateY(-8px);
}
/* ////////////////////////portfolio/////////////// */

#portfolio {
  padding: 80px 0px;
  width: 95%;
  margin: auto;
}
.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  justify-content: space-between;
  grid-gap: 40px;
  margin-top: 50px;
}
.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  border: 3px solid var(--work);
  /* transition: 00.5s; */
}
.work:hover {
  border: none;
  transition: transform 0.5s;
}
.work img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}
.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #319da0);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}
.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
  color: #fff;
}
.layer p {
  color: #fff;
}
.layer a {
  margin-top: 20px;
  color: #ff004f;
  text-decoration: none;
  font-size: 40px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  text-align: center;
}
.work:hover img {
  transform: scale(1.1);
  filter: blur(5px);
}

.work:hover .layer {
  height: 100%;
}
.layer a i {
  margin-top: 10px;
}
.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 14px 50px;
  border-radius: 4px;
  text-decoration: none;
  color: white;
  transition: 0.5s;
}
#resumedown {
  padding: 8px 25px;
  font-weight: 500;
  font-size: 18px;
}
.btn3 {
  background: #ff004f;
}
.btn:hover {
  background: #ff004f;
}
/* //////////////////////contact/////////////// */
.contact-left {
  flex-basis: 35%;
}
.contact-right {
  flex-basis: 60%;
}
.contact-left p {
  margin-top: 30px;
}
.contact-left p i {
  color: #ff004f;
  margin-right: 10px;
  font-size: 25px;
}
.social-icons {
  margin-top: 30px;
}

.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: var(--white);
  /* background: transparent; */
  display: inline-block;
  transition: transform 0.5s;
}
.social-icons a:hover {
  color: #ff004f;
  transform: translateY(-5px);
}
.btn.btn2 {
  display: inline-block;
  background: #ff004f;
}
.contact-right form {
  width: 100%;
}
form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}
form .btn2 {
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}
.copyright {
  width: 100%;
  text-align: center;
  padding: 25px;
  /* background: var(--black); */
  margin-top: 20px;
}
.copyright i {
  color: #ff004f;
}

nav .fa-solid {
  display: none;
}

.try {
  width: 70%;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.calendar .contrib-number {
  font-weight: 300;
  color: #ff004f;
}

/* ///////////////////////////////////   css for small screen */
@media only screen and (max-width: 600px) {
  nav {
    /* background-color: transparent; */
    border-radius: 0;
  }
  #resumedown {
    display: none;
  }
  #slidertext {
    font-size: 40px;
  }
  #header {
    /* background: url(../image/phonefinal\ -\ Copy.png); */
  }
  .header-text {
    margin-top: 50%;
    font-size: 16px;
  }
  .header-text h1 {
    font-size: 30px;
  }
  nav .fa-solid {
    display: block;
    font-size: 25px;
  }
  nav ul {
    background: #319da0;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }
  nav ul li {
    display: block;
    margin: 20px;
  }
  #toggle {
    margin: 20px;
  }
  nav ul .fa-bars {
    position: absolute;
    top: 25px;
    left: 90%;
    cursor: pointer;
  }
  nav ul .fa-xmark {
    position: absolute;
    top: 25px;
    left: 10%;
    cursor: pointer;
  }
  .calendar {
    display: none;
  }
  .about-col-2 {
    font-size: 14px;
  }
  .tab-links {
    font-size: 16px;
    margin-top: 15px;
    margin-right: auto;
  }
  .tab-titels {
    width: 100%;
    margin: auto;
  }

  .work-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-between;
    grid-gap: 40px;
    margin-top: 50px;
  }

  .layer h3 {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 20px;
    color: #fff;
  }
  .layer p {
    color: #fff;
    font-size: 13px;
  }
  .layer a {
    margin-top: 10px;
    color: #ff004f;
    text-decoration: none;
    font-size: 20px;
    /* line-height: 40px; */
    background: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    text-align: center;
  }
  .contact-left,
  .contact-right {
    flex-basis: 100%;
  }
  #header {
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
  }
  .container1 {
    width: 90%;
    height: 60%;
  }
  #image {
    width: 300px;
    height: 300px;
    margin-top: 10px;
    background-image: url(/image/Ranjeet.png);
  }
}
#msg {
  color: #319da0;
  margin-top: 0px;
  display: block;
  text-align: center;
}

/* //////////////////////////////// */

.githubstats {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 30px;
  width: 100%;
}
.githubmain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 30px;
}
